.NewsLetter-main {
  background-color: #e0f7cd;
  height: 30vh;
}

.NewsLetter-para-container {
  width: 32%;
  margin-left: 34%;
}

.NewsLetter-heading {
  color: var(--first-color);
  font-weight: 600;
  text-align: center;
}

.NewsLetter-para {
  color: var(--first-color);
  text-align: center;
  font-size: 16px;
  margin: 0% 2%;
}

.NewsLetter-search-main {
  width: 50%;
  margin-left: 25%;
  display: flex;
  justify-content: space-around;
}

.NewsLetter-search-button {
  border: none;
  outline: none;
  background: transparent;
  background-color: var(--first-color);
  padding: 1% 5%;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.NewsLetter-input-search {
  border: 0;
  outline: 0;
  padding: 1% 5%;
  border-radius: 3px;
  border: 1px solid #8f94a1;
}

@media (min-width: 550px) {
  .NewsLetter-search-main {
    flex-direction: row;
    gap: 10px;
  }
  .NewsLetter-input-search {
    flex: 0 0 480px;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .NewsLetter-main {
    margin-top: 10%;
    background-color: #e0f7cd;
    height: 25vh;
    margin-bottom: 2%;
  }
  .NewsLetter-para-container {
    width: 85%;
    margin-left: 7.5%;
    margin-bottom: 1%;
  }

  .NewsLetter-search-main {
    width: 45%;
    margin-left: 27.5%;
    display: flex;
    justify-content: space-evenly;
  }
}

/* i-pad */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .NewsLetter-main {
    background-color: #e0f7cd;
    height: 18vh;
    margin-bottom: 2%;
  }

  .NewsLetter-para-container {
    width: 40%;
    margin-left: 30%;
    margin-bottom: 1%;
  }
}
